<h1>Create Milkshake</h1>

<% if @milkshake.errors.any? %>

    <% for error in @milkshake.errors.full_messages %>
        <p><%=error%></p>
    <% end %>

<% end %>

<%= form_with model: @milkshake, local: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :price, "(Price in cents)" %>
        <%= form.number_field :price, min: 0 %>
    </div>

    <div>
        <%= form.label :pic%>
        <%= form.file_field :pic, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>

    <div>
        <%= form.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>

<!--

<form action="<%=milkshakes_path%>" method="post">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

    <div>
        <label for="name">Name</label>
        <input type="text" name="milkshake[name]" id="name" />
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" name="milkshake[description]"></textarea>
    </div>

    <div>
        <label for="price">Price (in cents)</label>
        <input type="number" name="milkshake[price]" min="0" id="price" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>

</form>

-->